<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Добавление кандидата</title>
</head>
<body>
    <div>
        <a href="/">Главная</a>
        <a href="/addcandidate"><button>Назад</button></a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
                {{ form.media.js }}
            </table>
            <input type="submit" value="Сохранить" name="btnform">
        </form>
        <form method="post">
            {% csrf_token %}
            <h2>{{ vote }}. Список кандидатов:</h2>
            {% if candidates.count > 0 %}
            <table>
                <tr>
                    <th>ФИО</th>
                    <th>Фото</th>
                </tr>
                {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.fio }}</td>
                    <td><img src="{{ candidate.image.url }}" alt="Фото кандидата {{ candidate.fio }}" width="100" height="100" border="0"></td>
                    <td><input type="submit" value="Изменить" name="btnedit"></td>
                    <td><input type="submit" value="Удалить" name="btndelete"></td>
                    <td hidden>{{ id }}{{ candidate.id_Candidate }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </form>
    </div>
</body>
</html>