<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выборы</title>
</head>
<body>
    <div>
        <a href="{% url 'main'%}"><button>Главная</button></a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Поиск">
        </form>
        <a href="{% url 'cikhome'%}"><button>Назад</button></a>
    </div>
</body>
</html>