<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\cik.css" %}" >
    <title>ЦИК</title>
</head>
<body>
    <div class="main">
        <a href="/">Главная</a>
        <form action="/addcandidate" target="_parent">
            <button>Кандидат</button>
        </form>
        <form action="/addvotegrade" target="_parent">
            <button>Уровень выборов</button>
        </form>
        <form action="/addterritory" target="_parent">
            <button>Территория</button>
        </form>
        <form action="/addvote" target="_parent">
            <button>Выборы</button>
        </form>
        <form action="/reports" target="_parent">
            <button>Отчеты</button>
        </form>
    </div>
</body>
</html>