<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\cik.css" %}" >
    <title>ЦИК</title>
</head>
<body>
    <div class="main">
        <a href="/">Главная</a>
        <form action="CIK.html" target="_blank">
            <button><a href="/addcandidate">Добавить кандидата</a></button>
        </form>
        <form action="CIK.html" target="_blank">
            <button><a href="/addvote">Добавить выборы</a></button>
        </form>
    </div>
</body>
</html>