<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Территории</title>
</head>
<body>
<div>
    <a href="{% url 'main'%}"><button>Главная</button></a>
    <a href="{% url 'cikhome'%}"><button>Назад</button></a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Сохранить">
    </form>
    {% if model.count > 0 %}
    <h2>Список территорий:</h2>
    <table>
        <tr>
            <th>Уровень</th>
            <th>Территория</th>
        </tr>
        {% for territory in model %}
        <tr>
            <td>{{ territory.id_Grade }}</td>
            <td>{{ territory.territory_Name }}</td>
            <td><a href="?change={{ territory.id_Terr }}"><button>Изменить</button></a></td>
            <td><a href="?delete={{ territory.id_Terr }}"><button>Удалить</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
</body>
</html>